<!DOCTYPE html>
<html>
<head>
	
<title>${title!}</title>
<%include("/eova/meta.html"){}%>
<%include("/eova/include_h.html"){}%>
  <link href="${CDN!STATIC!}/ui_h/ajax/libs/iCheck/custom.css" rel="stylesheet"/>
	
 	<link href="${CDN!STATIC!}/ui_h/ajax/libs/select2/select2.min.css" rel="stylesheet"/>
    <link href="${CDN!STATIC!}/ui_h/ajax/libs/select2/select2-bootstrap.css" rel="stylesheet"/>
    
    <link  href="${CDN!STATIC!}/ui_h/ajax/libs/switchery/switchery.css" rel="stylesheet"/>
    <!-- 富文本 summernote -->
    <link href="${CDN!STATIC!}/ui_h/ajax/libs/summernote/summernote.css" rel="stylesheet"/>
	<link href="${CDN!STATIC!}/ui_h/ajax/libs/summernote/summernote-bs3.css" rel="stylesheet"/>
<!--  	<link href="${STATIC!}/ui_h/css/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">  
 	<link href="${STATIC!}/ui_h/ajax/libs/bootstrap-fileinput/fileinput.min.css" rel="stylesheet"/>  -->
 	<link href="${CDN!STATIC!}/ui_h/ajax/libs/fontawesome-iconpicker-3.2.0/fontawesome-iconpicker.min.css" rel="stylesheet">
 	    
	<link href="${CDN!STATIC!}/ui_h/ajax/libs/treeview/bootstrap-treeview.min.css" rel="stylesheet"/>    
	<link href="${CDN!STATIC!}/ui_h/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css" rel="stylesheet"/>
	<link href="${CDN!STATIC!}/ui_h/ajax/libs/datapicker/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
	<link href="${CDN!STATIC!}/ui_h/ajax/libs/webuploader-0.1.5/webuploader.css" rel="stylesheet" type="text/css" >
<!-- 	<link href="${STATIC!}/ui_h/ajax/libs/diyupload/globle.css" rel="stylesheet" type="text/css" /> -->


	
    <!-- 开关  -->
    <script src="${CDN!STATIC!}/ui_h/ajax/libs/switchery/switchery.js" type="text/javascript"></script>
    
    <!-- 富文本 summernote -->
  	<script src="${CDN!STATIC!}/ui_h/ajax/libs/summernote/summernote.min.js"></script>
	<script src="${CDN!STATIC!}/ui_h/ajax/libs/summernote/summernote-zh-CN.js"></script>
	<!-- 文件上传(图片和文件) 
	<script src="${STATIC!}/ui_h/ajax/libs/bootstrap-fileinput/fileinput.js"></script>
	<script src="${STATIC!}/ui_h/ajax/libs/bootstrap-fileinput/piexif.min.js"></script>-->
	


    
    <script src="${CDN!STATIC!}/ui_h/ajax/libs/select2/select2.min.js"></script>
    
    <!-- treeview -->
	<script src="${CDN!STATIC!}/ui_h/ajax/libs/treeview/bootstrap-treeview.min.js"></script>
	<script src="${CDN!STATIC!}/ui_h/ajax/libs/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js"></script>
	
	<!-- datetimepicker -->
	<script src="${CDN!STATIC!}/ui_h/ajax/libs/datapicker/bootstrap-datetimepicker.min.js"></script>
	<!--引入百度文件上传webuploader-->
	<script src="${CDN!STATIC!}/ui_h/ajax/libs/webuploader-0.1.5/webuploader.js" type="text/javascript" ></script>
	<script src="${CDN!STATIC!}/ui_h/ajax/libs/fontawesome-iconpicker-3.2.0/fontawesome-iconpicker.js"></script> 

${headContent!}
</head>

${layoutContent!}

<script src="${STATIC!}/ui_h/bb/js/content.js"></script>
</html>