#应用域名
app_domain = http://h.bblocks.cn
#应用LOGO(暂时无位置使用)
app_logo = /ui/images/mylogo.png
#应用主页
app_main = /ui_h/main.htm

app_name = 积木快速开发平台
app_keywords = 积木低代码快速开发平台,响应式后台，后端使用jfinal,目标28法则80%的模块无需代码，免开发，开源，集成BI数据分析，集成钉钉OA，支持Oracle,mysql
app_description = 积木是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术,后端使用jfinal,目标28法则80%的模块无需代码
app_copyright = Powered by BB V2.0 © 2018-2020 <a href="http://www.beian.miit.gov.cn/" rel="nofollow" target="_blank">苏ICP备18044338号-1</a>
#启用默认ui lay/h/Eova Eova或者为空则走老的目标（暂时好像不支持了）  参数模式：  ?template=eova
app_template_ui=h

#是否启用云服务(依托社区云端大数据，人工智能进行数据预处理，节省成吨工作量！)
cloud_service = false;

#安装db脚本 ，位置：WEB-INF/install/sqls
init_file_bb=bb.sql
init_file_main=main.sql

#创建用户的默认密码
user_df_psw=000000

#登录页面(实际指向会增加当前模板 "_h",即：/eova/login_h.html)，默认登录页为：/eova/login.html,粒子特效的星空登录:/eova/login2.html
app_login = /eova/login2.html