#默认数据源（主库/业务库）,兼容mysql8,增加了时区
#main_url = jdbc:mysql://127.0.0.1:3306/demo?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#main_user = root
#main_pwd = 123456
main_url = jdbc:mysql://101.132.243.52:33060/bb_h_demo?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&serverTimezone=GMT%2B8&nullCatalogMeansCurrent=true
main_user = root
main_pwd = 000000zJ


#数据源(从库/配置库),兼容mysql8,增加了时区
eova_url = jdbc:mysql://101.132.243.52:33060/bb_h?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&serverTimezone=GMT%2B8&nullCatalogMeansCurrent=true
eova_user = root
eova_pwd = 000000zJ

#其它数据源连接方式
#oracle_url = jdbc:oracle:thin:@127.0.0.1:1521:ORCL
#postgresql_url = jdbc:postgresql://127.0.0.1:5432/postgres
