<%layout("/eova/layout/default_h.html",{'title' :  '服务器监控'}){%>
   <style type="text/css">   
.table tbody tr td{
      overflow: hidden; 
      text-overflow:ellipsis;  
      white-space: nowrap; 
 }
</style>  

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>CPU</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                    <tr>
                                        <th>属性</th>
                                        <th>值</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>核心数</td>
                                        <td >${server.cpu.cpuNum!}个</td>
                                    </tr>
                                    <tr>
                                        <td>用户使用率</td>
                                        <td >${server.cpu.used!}%</td>
                                    </tr>
                                    <tr>
                                        <td>系统使用率</td>
                                        <td >${server.cpu.sys!}%</td>
                                    </tr>
                                    <tr>
                                        <td>当前空闲率</td>
                                        <td >${server.cpu.free!}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>内存</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="close-link"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                    <tr>
                                        <th>属性</th>
                                        <th>内存</th>
                                        <th>JVM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>总内存</td>
                                        <td >${server.mem.total! }GB</td>
                                        <td }">${server.jvm.total! }MB</td>
                                    </tr>
                                    <tr>
                                        <td>已用内存</td>
                                        <td >${server.mem.used! }GB</td>
                                        <td >${server.jvm.used! }MB</td>
                                    </tr>
                                    <tr>
                                        <td>剩余内存</td>
                                        <td >${server.mem.free! }GB</td>
                                        <td >${server.mem.free! }MB</td>
                                    </tr>
                                    <tr>
                                        <td>使用率</td>
                                        <td class="${server.mem.usage!>80?:'text-danger'}" >${server.mem.usage!}%</td>
                                        <td class="${server.jvm.usage! > 80?'text-danger'}" >${server.jvm.usage!}%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>服务器信息</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-hover margin bottom">
                                        <tbody>
                                            <tr>
                                                <td>服务器名称</td>
                                                <td >${server.sys.computerName!'积木'}</td>
                                                <td>操作系统</td>
                                                <td >${server.sys.osName!'Linux'}</td>
                                            </tr>
                                            <tr>
                                                <td>服务器IP</td>
                                                <td >${server.sys.computerIp!'127.0.0.1'}</td>
                                                <td>系统架构</td>
                                                <td>${server.sys.osArch!'amd64'}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Java虚拟机信息</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-hover margin bottom">
                                        <tbody>
                                            <tr>
                                                <td>Java名称</td>
                                                <td >${server.jvm.name!}Java</td>
                                                <td>Java版本</td>
                                                <td >${server.jvm.version!}1.8.0</td>
                                            </tr>
                                            <tr>
                                                <td>启动时间</td>
                                                <td th:text="">${server.jvm.startTime!'2018-12-31 00:00:00'}</td>
                                                <td>运行时长</td>
                                                <td th:text="">${server.jvm.runTime!'0天0时0分0秒'}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="1">安装路径</td>
                                                <td colspan="3" >${server.jvm.home}</td>
                                            </tr>
                                             <tr>
                                                <td colspan="1">项目路径</td>
                                                <td colspan="3" >${server.sys.userDir}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>磁盘状态</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-hover margin bottom">
                                        <thead>
                                            <tr>
                                                <th>盘符路径</th>
                                                <th>文件系统</th>
                                                <th>盘符类型</th>
                                                <th>总大小</th>
                                                <th>可用大小</th>
                                                <th>已用大小</th>
                                                <th>已用百分比(%)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                       
											<% for(sysFile in server.sysFiles!){ %>
                                            <tr >
                                                <td th:text="">${sysFile.dirName!}</td>
                                                <td th:text="">${sysFile.sysTypeName!}</td>
                                                <td th:text="">${sysFile.typeName!}</td>
                                                <td th:text="">${sysFile.total!}</td>
                                                <td th:text="">${sysFile.free!}</td>
                                                <td th:text="">${sysFile.used!}</td>
                                                <td class='${sysFile.usage! > 80?'text-danger'}' >${sysFile.usage!}</td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<%}%>

