 <a class="btn btn-info" onclick="$.table.importExcel()">
	            <i class="${strutil.out(button.icon!,'fa fa-upload')}"></i> ${button.name}
</a>
<!-- 导入区域 -->
<script id="importTpl" type="text/template">
<form enctype="multipart/form-data" class="mt20 mb10">
	<div class="col-xs-offset-1">
		<input type="file" id="file" name="file"/>
		<div class="mt10 pt5">
			 <a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
		</div>
		<font color="red" class="pull-left mt10">
			导入说明:新增导入(目前只支持单表.xls格式，.xlsx、视图后续补充)：<br />
如果导入的Excel表格中没有主键列，则自动新增所有行的数据。<br />
更新导入：<br />
如果导入的Excel表格中存在主键列，则自动根据每行主键更新相关数据(当然可以自定自己拦截器定制更新)。<br />
		</font>
	</div>
</form>
</script>